@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,700,900);

body {
  background: #f5f7f9;
}

p {
  /*margin: 0;*/
}

h3 {
  line-height: 0.8;
  margin-top: 0;
}

.inactive {
  display: none;
}

.reg-block {
  margin-top: 30px;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;

  -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.20);
  -moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.20);
  box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.20)
}

.circle {
  margin: auto;
  padding-top: 13px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #f5f7f9;
  border: 2px solid #616161;

  font-size: 20px;
  color: #616161;
}

.floatl {
  float: left;
  /* margin-right: 10px; */
}

.circle-finish {
  background-color: #f5f7f9;
  color: #505050;
  border: 2px solid #19B82B;
  font-size: 20px;
}

.finish-text {
  color: #19B82B;
  font-weight: bold;
}

.num-finished {
  color: #19B82B;
  font-weight: bold;
}

.cir-container {
  margin: auto;
  width: 564px;
  margin-bottom: 40px;
}

.of {
  font-size: 12px;
}

.of-num {
  font-size: 15px;
}

.step-container {
  float: left;
}

.step-text {
  padding-top: 14px;
  padding-left: 9px;
  margin-right: 24px;
  float: right;
}

.m40 {
  margin-bottom: 40px;
}


/* paying plan cards */

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s ease-in-out;
  min-height: 393px;

  padding-bottom: 12px;

  border-bottom: 2px solid #1678C2;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

.card-1 p {
  margin-bottom: 10px;
  color: #616161;

  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
  padding-bottom: 10px;
}

.chosen {
  box-shadow: 0 10px 40px rgba(0, 113, 199, 0.5), 0 6px 6px rgba(0, 103, 183, 0.23) !important;
}

.price-head {
  background: #1678C2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 2px 1px rgba(0,0,0,0.13);
  color: #fff;
  padding-top: 14px;
}

p.price {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 10px;

  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
}

p.gr {
  padding-top: 23px;
  padding-bottom: 23px;
}

#if-single {
  margin-top: 40px;
}

.not-married {
  margin-right: 20px;
}

#confirm {
  margin-top: 40px;
}

.mg {
  margin-bottom: 15px;
}

.paypal h3, .paycard h3 {
  display: block;
  /*padding-bottom: 8px;*/
  /*border-bottom: 1px solid rgba(216, 216, 216, 0.5);*/
}

.paypal {
  margin: 10px;
}

.pay-wrapper {
  max-width: 600px;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 20px 20px;
}

.p-method {
  font-size: 15px;
  color: #555;
}

.ppwrap {
  margin-top: 20px;
}

.question {
  margin-left: 16px;
  margin-top: 12px;
}

.alert {
  margin-top: 18px;
}

.married h2 {
  margin-top: 20px;
}


/**  */

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.theterms {
  padding-bottom: 8px;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

@media screen and (max-width: 644px) {
  .cir-container {
    width: 223px;
  }

  .step-container {
    margin-bottom: 10px;
  }
}
