body {
  background: #f5f7f9;
}

.test-block-01, .steps-block, .education-block, .register-block {
  margin-top: 30px;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;

  -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.20);
  -moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.20);
  box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.20)
}

.test-block-01, .education-block, .register-block {
  margin-top: 4px;
}

.step-01, .step-02 {
  margin-top: 30px;
}

h1.test-01, h1.test-02, h1.test-ed, h1.work-ed {
  margin-top: 20px;
  font-size: 2rem;
}

.inactive {
  display: none;
}

.active {
  display: block;
}


/* js classes */

.dim-text {
  color: #ccc;
}

.dim-text a {
  color: #ccc;
}

.dim-text a:hover {
  color: #ccc;
  text-decoration: none;
}

.dim-text a:visited {
  color: #ccc;
  text-decoration: none;
}

.comment {
  margin-top: 10px;
}

.circle {
  margin: auto;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #f5f7f9;
  border: 2px solid #616161;

  font-size: 20px;
  color: #616161;
}

.floatl {
  float: left;
  /* margin-right: 10px; */
}

.circle-finish {
  background-color: #f5f7f9;
  color: #505050;
  border: 2px solid #19B82B;
  font-size: 20px;
}

.cir-container {
  margin: auto;
  width: 170px;
}

.of {
  font-size: 12px;
  padding-top: 12px;
}

.of-num {
  font-size: 15px;
}

.grey-line {
  float: left;
  height: 10px;
  border-bottom: 2px dotted #616161;
  width: 30px;
  padding-top: 23px;
  margin-right: 20px;
  margin-left: 20px;
}

.finish-line {
  border-bottom: 2px solid #19B82B;
}

.father-born, .mother-born, .father-resident, .mother-resident, .mother-born2, .father-country, .mother-country {
  margin-top: 20px;
}

.finished {
  color: #19B82B;
}

.mail-reg {
  margin-right: 5px;
}

.reset {
  float: right;
  margin-top: 8px;
}

.note {
  margin-top: 20px;
}
